.help-page .help-header1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 60px;
}

.help-page .help-faq, .help-page .help-contact-form {
    margin-top: 20px;
    border: 1px solid #000000;
    padding: 15px;
    border-radius: 5px;
}

.help-page .help-faq-item {
    margin-bottom: 15px;
}

.help-page .help-input-row {
    display: flex; /* Flexbox for row layout */
    justify-content: space-between; /* Space between items */
    margin-bottom: 15px; /* Space below the row */
}

.help-page .help-input-group {
    flex: 1; /* Allow groups to grow */
    margin-right: 10px; /* Space between the two input groups */
}

.help-page input.help-name {
    width: 100%; 
    padding: 9px; 
    border: 1px solid black; 
    border-radius: 10px;
    box-sizing: border-box;
}

.help-page .help-input-group:last-child {
    margin-right: 0; /* Remove margin for the last group */
}

.help-page label {
    display: block; /* Block display for labels */
    margin-bottom: 5px;
    font-size: 20px; /* Space between label and input */
}

.help-page input, .help-page textarea {
    width: 100%; /* Full width for inputs */
    padding: 10px; /* Padding for inputs */
    border: 1px solid black; /* Border style */
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.help-page textarea {
    padding: 15px; /* Consistent padding for textarea */
}

.help-page button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.help-page button:hover {
    background-color: #0056b3;
}
