/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #343a40;
    padding: 10px;
  }
  
  .navbar-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-item:hover {
    color: #ffc107;
  }
  
  .navbar-title {
    font-size: 24px;
    color: #ffc107;
  }
  