@import url('https://unpkg.com/leaflet/dist/leaflet.css');

/* mapping.css */
.map-container {
    position: relative;
    overflow: hidden; /* Prevents overflow */
}

/* Ensure the body and root element fill the viewport */
html, body, #root {
    height: 100%;
    margin: 0;
}
