/* src/components/DisasterUpdate/DisasterUpdate.css */
.updatePage {
    /* min-height: calc(100vh - 60px);  */
    width: 100%;
    background-color: #FFD09B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px; /* Optional: Adds spacing around the container */
  }
  
  .container2 {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjusted to be responsive */
    max-width: 600px; /* Limits the width for better readability */
    background-color: #FFECC8;
    border: 3px solid #965252;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .container2 h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form label {
    margin: 10px 0 5px;
    font-size: 16px;
  }
  
  .form input,
  .form select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form button:hover {
    background-color: #555;
  }
  
  .form button:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
  
  